body {
    font-family: Arial, sans-serif;
    background: white;
}

.box {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 13px;
    height: 13px;
}

button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background: green;
}

#success {
    color: green;
    text-align: center;
    margin-top: 10px;
}
